<!DOCTYPE html>
<html lang="es">

  <head>

{% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Portfolio Website of Cristina Blanco, digital artist and Motion Grapher">
    <meta name="author" content="Alberto Camiña">
    <link rel="shortcut icon" type="image/png" href="{% static 'core/img/favicon.ico' %}"/>
    
    <title>{% block title %}{% endblock %} - Cristina Blanco</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="{% static 'core/css/custom_ckeditor.css' %}" rel="stylesheet" type='text/css'> 

    <!-- Plugin CSS -->
    <link href="{% static 'core/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'core/css/creative.min.css' %}" rel="stylesheet">

  </head>

  <style>
    p {
      font-family: 'Roboto';
      font-size: 20px;
    }
  </style>

  <body id="page-top">

    {% load home_extras %}
    {% get_personalizacion as personalizacion %}

    {% for p in personalizacion %}

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="{% url 'home' %}">{{p.title_menu}}</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% if request.path != '' %}{% url 'home' %}{% endif %}#about">{{p.menu1}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% if request.path != '' %}{% url 'home' %}{% endif %}#services">{{p.menu2}}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% if request.path != '' %}{% url 'home' %}{% endif %}#portfolio">{{p.menu3}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="{% if request.path != '' %}{% url 'home' %}{% endif %}#blog">{{p.menu4}}</a>
              </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="{% if request.path != '' %}{% url 'home' %}{% endif %}#contact">{{p.menu5}}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Contenido de la pagina -->

    {% endfor %}

{% block content %}

{% endblock %}

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'core/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    <script src="{% static 'core/vendor/scrollreveal/scrollreveal.min.js' %}"></script>
    <script src="{% static 'core/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'core/js/creative.min.js' %}"></script>

  </body>

</html>
